Host {{ hostvars[groups['repository'][0]]['ansible_host'] }}
    Hostname {{ hostvars[groups['repository'][0]]['ansible_host'] }}
    IdentityFile /home/{{ ansible_user }}/.ssh/build_server
    IdentitiesOnly yes
