import axios from 'axios';

const instance = axios.create({
    baseURL: 'http://{{ backend_url }}:4000',
    headers: {
        'Access-Control-Allow-Origin': '*'
    },
});

export default instance;
