version: "2.2"

services:
  {{ service_name }}:
    image: "{{ docker_registry_url }}/{{ service_name }}:latest"
    scale: {{ num_containers }}
    expose:
      - "{{ service_port }}"
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - {{ service_name }}
    ports:
      - "4000:4000"